<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Powerballer-ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F368BBFE1C5AAB63004C152A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F368BC1A1C5AAB63004C152A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F368BC251C5AAB63004C152A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
